.hero {
  height: calc(100vh - 70px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imageBack {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gradient {
  background: linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(38,38,38,0.5) 50%, rgba(38,38,38,1) 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.titleCont {
  z-index: 10;
  color: var(--white-color);
  font-size: 24px;
}

.buttons {
  z-index: 1;
}
.button {
  border: 1px solid var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 14px;
  background: var(--dark-color);
  color: var(--main-color);
  position: absolute;
  cursor: pointer;
}
.bLeft {
  left: 64px;
}
.bRight {
  right: 64px;
}